---
import Layout from '../layouts/Layout.astro';
import HomeHeader from '../components/HomeHeader.astro';
import logos from "../data/logos.json";
---

<Layout title="Welcome to Astro.">
	<main>
	<HomeHeader heading="Jared Makes" intro="Mus voluptatibus nullam voluptatibus, mi elementum ullam eiusmod penatibus quos sapiente parturient irure mollis enim consequuntur?" logos={logos} />

	</main>
</Layout>
