---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jared Makes">
	<main>
		<div class="about">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab maiores,
			veniam ad placeat voluptates corrupti odit porro natus perferendis!
			Officiis modi aspernatur quibusdam magni, tenetur hic saepe voluptas
			reprehenderit itaque.
			<div class="about__image--wrapper">
			<img src="/images/about.webp" alt="" srcset="" class="about__image--image">
			</div>

		</div>
	</main>
</Layout>

<style>

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about__image--wrapper {
	width: 100%;
	max-width: 250px;
}

.about__image--image {
	width: 100%;
	border-radius: 25px;
	padding: .25rem;
	background-color: var(--color-accent-alt);
	border: 2px solid var(--color-primary);
	box-shadow: 0 0 10px 5px var(--color-text);
	margin-top: 2.5rem;
}

</style>
