  ---
  ---

  <ul class="navigation__list">
    <l class="navigation__list--item"><a class="navigation__list--link" href="#">Web</a></l>
    <l class="navigation__list--item"><a class="navigation__list--link" href="#">Voice</a></l>
    <l class="navigation__list--item"><a class="navigation__list--link" href="#">Random</a></l>
    <l class="navigation__list--item"><a class="navigation__list--link" href="#">Contact</a></l>
    <l class="navigation__list--item"><a class="navigation__list--link" href="#">About</a></l>
  </ul>
